@import 'tailwindcss';

@theme {
  /* Gray Scale */
  --color-black: #0f0f0f;
  --color-gray-500: #161616;
  --color-gray-400: #5a5a5a;
  --color-gray-300: #a4a4a4;
  --color-gray-200: #dddddd;
  --color-gray-100: #eeeeee;
  --color-white: #ffffff;

  /* Point Colors */
  --color-red: #ff483d;
  --color-blue: #29c9f9;
  --color-purple: #a77eff;
  --color-pink: #ff2a6a;
  --color-main: #efff04;

  /* Gradation colors */
  --color-feature-module: rgba(40, 60, 20, 0.3);
  --color-feature-random-box: rgba(40, 50, 0, 0.2);

  /* Background colors */
  --background-image-hero-pattern: radial-gradient(
    ellipse 100% 70% at 50% 0%,
    #42195a 0%,
    #1e0a30 45%,
    #0f0f0f 80%
  );
}

@layer base {
  body {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  * {
    box-sizing: border-box;
  }
}
